/* CSS for Profile Page */
.container {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: center;
  gap: 100px;
  margin: 40px auto;
  padding: 0px 20px;
}

.container .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 25%;
}

.container .right .image {
  width: 257px;
  margin-bottom: 30px;
  border-radius: 20px;
}

.container .right .suggestions {
  background-color: #fff;
  color: black;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 30px 20px;
  gap: 15px;
}

.container .right .suggestions h3 {
  margin: auto;
  font-size: 1.5rem;
  font-weight: bold;
}

.container .right .suggestions .suggestionsUser {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .right .suggestions .suggestionsUser .userDetails {
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
}

.details{
  display: flex;
}


.detailName {
  font-weight: bold;
}

.detailId {
  font-size: 0.65rem;
  opacity: 70%;
}

.container .right .suggestions .suggestionsUser .userImage {
  width: 50px;
}

.followBtn{

    margin-left: 10px;
    min-width: 60px;
    height: 25px;
    color: #fff;
    padding: 5px;
    font-size: 0.75rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 20px;
    border: 2px solid #212529;
    background: #212529;
  }

  
 .followBtn:hover {
    background: #fff;
    color: #212529;
  }

/* Bio Section */
.container .left {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  max-width: 75%;
}
.left .bio{
  display: flex;
  gap: 40px;
  color: #fff;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 20px;
  background: rgb(255, 255, 255);
  border-radius: 16px;
  -webkit-backdrop-filter: blur(5px);
}

.left .bio .profileImg {
}

.left .bio .profileImg img {
  width: 150px;
  height: 150px; /* Set the height to match the width for a perfect circle */
  border-radius: 50%; /* Use border-radius 50% for a circular shape */
  border: 2px solid  #fc4308;
  object-fit: cover; /* Maintain aspect ratio and cover the entire container */
}

.left .bio .profileDesc {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.left .bio .profileDesc .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left .bio .profileDesc .text .name {
  font-weight: 900;
  font-size: 1.2rem;
  color: black;
}
.left .bio .profileDesc .text .id {
  margin-top: -5px;
  color: rgb(148, 148, 148);
}
.left .bio .profileDesc .stats {
  display: flex;
  font-weight: 700;
  margin-top: 10px;
  color: black;
  gap: 20px;
}

.left .bio .profileDesc .desc {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.left .bio .profileDesc .desc p {
  display: flex;
  width: 400px;
  color: #212529;
  margin-top: 10px;
  text-align: justify;
}

.left .bio .profileDesc .desc a {
  color: rgb(241, 92, 38);
  text-decoration: none;
}
.left .bio .profileDesc .desc a:active {
  color: rgb(190, 190, 226);
}

.tweets{

}

.tweets .tweetText{
display: flex;
justify-content: center;
align-items: center;
gap: 15px;
}

.tweets .tweetText .tweetTextAraea{
 border-radius: 20px;
}

.tweets .tweetText .tweetBtn{
 
    min-width: 100px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 20px;
    border: 2px solid #57cc99;
    background: #57cc99;
  }
  .tweets .tweetText .tweetBtn:hover {
    background: #fff;
    color: #57cc99
  }
