/* CSS for Terms and Conditions Page */
    /* Define the background color of the body */
    body {
        background-color: #215d3e;
    }

    /* Define the text color of the body */
    body, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
        color: white;
    }

    /* Define the link color and remove the underline */
    a {
        color: #fc4308;
        text-decoration: none;
    }

    /* Define the container element for the policy content */
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
    }